body{
    background-color: black;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px);
}

.wrapper{
    max-width: 402px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    position: relative;
}

.screen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(0, 0, 0,0.9);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen .wrapper-screen{
    text-align: center;
    color:white;
}

.screen .wrapper-screen .title{
    max-width:200px;
    margin-bottom:30px;
    font-size: 30px;
}

.screen .wrapper-screen button{
    padding:10px;
    background-color: white;
    margin-top:20px;
    margin-bottom:30px;
}

.kotak{
    color:white;
    font-size:30px;
    background: linear-gradient(90deg,rgb(247, 213, 22)0%,hsla(35, 100%, 50%, 1)100%);
    width:100px;
    height: 100px;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.kotak-unflip{
    animation: unflip 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.kotak-flip{
    background:white;
    animation: flip 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

@keyframes flip {
    0%{
        transform: rotateY(-180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes unflip {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(-180deg)
    }
}